<section id="what-is-thorium" class="panel panel-default clearfix">
  <div class="panel-heading">
    <h3 class="panel-title">
      What is Thorium?
      <span class="pull-right glyphicon glyphicon-info-sign"></span>
    </h3>
  </div>
  <img class="thorium-logo" src="{{root_url }}/images/thorium_logo_red.png" alt="Thorium Logo">
  <div class="panel-body">
      <strong>
        Facility grade tools for <a href="http://www.thefoundry.co.uk/nuke/">Nuke</a>, upgraded from popular tools found on <a href="http://www.nukepedia.com/">Nukepedia</a> and beyond.
      </strong><br><br>
      <p>
          Easily install and use many incredible Nuke tools with a simple
          two step install process.
      </p>
      <a class="pull-right btn btn-default" href="{{ root_url }}/setup">Install Thorium!</a>
  </div>
</section>