/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

/* what is thorium panel */

$nuke-color: #7f1119;
$link-color: #efa400;

#what-is-thorium {
    &, h3 {
        color: white;
    }
    a {
        color: $link-color;
        &:hover { color: lighten($link-color, 12%); }
    }
    .panel-heading {
        border-color: $nuke-color;
        background-color: lighten($nuke-color, 18%);
        background-image: linear-gradient(color-stops(lighten($nuke-color, 18%), lighten($nuke-color, 6%)));
    }
    border-color: $nuke-color;
    background: url(../images/thorium-background.png);
    @include background-size(cover);
    .btn {
        text-shadow: none;
        font-weight: bold;
        background-color: lighten($nuke-color, 18%);
        background-image: linear-gradient(color-stops(lighten($nuke-color, 18%), lighten($nuke-color, 6%)));
        color: $link-color;
        border-color: darken($link-color, 12%);
        @include transition(color 0.2s ease-in ease-out, background-color 0.2s ease-in ease-out);
        &:hover {
            color: $nuke-color;
            background-color: $link-color;
            background-image: linear-gradient(color-stops(lighten($link-color, 8%), $link-color));
        }
    }
    .thorium-logo {
        max-width: 70%;
        margin: 0 auto 0.6em;
        display: block;
    }
}

.nuke-jumbo {
    background: url(../images/thorium-background.png);
    border-color: $nuke-color;
    border-width: 2px;
}

.thorium-logo-text {
    vertical-align: bottom;
    position: relative;
    bottom: -0.13em;
}

.nuke-btn {
    text-shadow: none;
    font-weight: bold;
    background-color: lighten($nuke-color, 18%);
    background-image: linear-gradient(color-stops(lighten($nuke-color, 18%), lighten($nuke-color, 6%)));
    color: $link-color;
    border-color: darken($link-color, 12%);
    @include transition(color 0.2s ease-in ease-out, background-color 0.2s ease-in ease-out);
    &:hover {
        color: $nuke-color;
        background-color: $link-color;
        background-image: linear-gradient(color-stops(lighten($link-color, 8%), $link-color));
    }
}

.toc-depth-1 {
    font-weight: bold;
}

.toc-depth-2:before {
  content: "• ";
}

.toc-depth-2 {
    font-size: 13px;
    padding-top: 4px;
    padding-left: 30px;
    padding-bottom: 4px;
}

.toc-depth-3:before {
  content: "- ";
}

.toc-depth-3 {
    font-size: 12px;
    padding-top: 2px;
    padding-left: 40px;
    padding-bottom: 2px;
}

h1, h2, h3, h4, h5, h6, h7, h8{
    color: lighten(#C8C8C8, 10%);
}

a {
    color: $link-color;
}

p {
    margin-bottom: 25px;
}